#Settings
LOG_LEVEL=INFO

# MongoDB
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=ecommerce_analytics

# HBase
HBASE_HOST=localhost
HBASE_PORT=9090

# Spark
SPARK_APP_NAME=ECommerceAnalytics
SPARK_MASTER=local[*]